@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Playball&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Hindi&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;    
    font-family: 'Poppins', sans-serif;
}
/* image setting  */

/* the setting of the navigation bar  */
.navigation-bar{
    background-color: #E3E6F3;
        display: flex;
    justify-content: space-between;
    padding: 20px 80px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    align-items: center;
    position: sticky;
}
/* this the css of the links */
ul{
    display: flex;
    gap: 20px ; 
    align-items: center;
    justify-content: center ;

}
/* this the css for the links  */
#navbar li {
    list-style: none;
    padding: 0px 20px ;
    position: relative;
    }
    #navbar li a{
        text-decoration: none;
        font-size: 16px ;
        font-weight: 500;
        color:#1a1a1a;
        transition: 0.3 ease ;
    }



    #navbar li a:hover {
    color:rgb(11, 158, 158);
}

#navbar li a:hover ,
#navbar li a.active{
color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/* image setting  */
.hero-section
{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover ;
    background-position: top 25% right 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;
    padding: 3rem ;
}
.hero-text h4{
    padding-bottom: 15px ;
}
.hero-text h1{
    color: #088178;
}
.hero-text button{
     background-image: url("img/button.png");
     background-color: transparent;
     color: #088178;
     border:none ;
     padding: 14px 80px 14px 65px ;
     background-repeat: no-repeat;
     cursor: pointer; 
     font-weight: 700;
     font-size: 15px ;
}
.section-p1{
    padding: 40px 20px;
}
.feature
{
    display: flex ;
    align-items: center ;
    justify-content: space-between;
    flex-wrap: wrap
}
.feature .feature-section
{
    width: 180px ;
    text-align: center ;
    padding: 25px 15px ;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px ;

}
.feature .feature-section:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
.feature .feature-section img{
    width: 100% ;
}
.feature  .feature-section p{
    padding: 9px 8px 6px 8px ; 
    line-height: 1 ;
    border-radius: 4px ;
    color: #088178;
    background-color: #fddde4;
}
.feature .feature-section:nth-child(2) p{
    background-color: #cdebbc;
}
.feature .feature-section:nth-child(3) p{
    background-color: #d1e8f2;
}.feature .feature-section:nth-child(4) p{
    background-color: #cdd4f8;
}
.feature .feature-section:nth-child(5) p{
    background-color: #f6dbf6;
}
.feature .feature-section:nth-child(6) p{
    background-color: #fff2e5;
}
.products{
    text-align: center ;

}
.product-1{
    display: flex ;
    flex-direction: column;
    margin: 20px ;
}

.products .product-1{
    width: 23%; 
    min-width: 250px ;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius:5px ;
   
}
.products .product-1 #image-1{
    width: 100%;
    /* border-radius: 5p; */
}
.collections-1{
    display: flex ;
    flex-direction: row;
    gap: 20px ;
}
.collections-2{
    display: flex ;
    flex-direction: row;
    gap: 20px ;
}
.product-1 .price
{
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}
.details{
    display: flex;
    flex-direction: column;
    text-align: start ;
}
.banner
{
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white ;
    justify-content: center;
    align-items: center;
}
.banner .ser{
    padding-top: 4rem ;
    font-size: 30px ;
}
.banner .discount{
    font-size: 50px ;
}
.banner .discount span{
    color: red ;
}
.banner button{
    font-size: 20px;
    padding: 10px 20px ;
    margin-bottom: 4rem  ;
}
.banner button:hover {
    color: white ;
    background-color: #088178;
    outline: none ;
    border: 1px solid #088178;
}
.new-fashion{
    display: flex;
    flex-direction: column;
    text-align: center ;
}
/* other new product section  */
.new{
    display: flex ;
    flex-direction: column;
    margin: 20px ;
}

.new-fashion .new{
    width: 23%; 
    min-width: 250px ;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius:5px ;
   
}
.new-fashion .new .image-new-1{
    width: 100%;
    /* border-radius: 5p; */
}
.new-fashion .new .image-new-2{
    width: 100%;
    /* border-radius: 5p; */
}
.new-1{
    display: flex ;
    flex-direction: row;
    gap: 20px ;
}
.new-2{
    display: flex ;
    flex-direction: row;
    gap: 20px ;
}
.new .price
{
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}
.details{
    display: flex;
    flex-direction: column;
    text-align: start ;
}
.crazy-deals
{
    display: flex ;
    margin-left: 54px ;
    gap:26px 
}
.buy-1-get-1-free{
    color: white ;
    padding-left : 1rem ;
    background-image: url("/img/banner/b17.jpg");
    background-repeat: no-repeat;
    min-width: 250px ;
    width: 100% ;
    height: 48.75vh ;
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-start ;
    /* align-content:center  ; */
}
.spring-summer{
    color: white ;
    padding-left : 1rem ;
    background-image: url("/img/banner/b10.jpg");
    background-repeat: no-repeat;
    min-width: 250px ;
    width: 100% ;
    height: 50vh ;
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-start ;
}
.learn
{
    background-color: transparent;
    padding: 1rem ;
    border-radius: 5px;
    border: 1px solid white ;
    color: white ;
}
.learn:hover{
    background-color: #088178;
    color: white;
    border: 1px solid #088178;
}
.ba{
    margin: 1rem 3.2rem ;
    display: flex ;
    flex-direction: row;
    gap: 2rem ;
}
.BANN3{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("/img/banner/b7.jpg");
    background-repeat: no-repeat;
    min-width: 30%;
    height: 30vh ;
    padding : 20px ;
    justify-content: center;
    text-align: center ;
    margin-bottom: 20px ;
    background-size: cover;
    background-position: center ;

}
.BANN4
{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-image: url("/img/banner/b4.jpg");
    background-repeat: no-repeat;
    min-width: 30%;
    height: 30vh ;
    justify-content: center;
    text-align: center ;
    padding : 20px ;
    margin-bottom: 20px ;
    background-size: cover;
    background-position: center ;
}
.BANN5
{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-image: url("/img/banner/b18.jpg");
    background-repeat: no-repeat;
    min-width: 32.5%;
    height: 30vh ;
    justify-content: center;
    text-align: center ;
    padding : 20px ;
    margin-bottom: 20px ;
    background-size: cover;
    background-position: center ;
}
.ba h2{
    color: white ;
}
.ba h3{
    color:red ;
}
